<!DOCTYPE html>
<html lang="en">

  <head>
    <%- include("../partial/head.ejs") %>
  </head>

  <body class="body-color">
    <div class="container">
      <div class="std-height d-flex align-items-center justify-content-center">
        <form class="form-card p-4 register-form" method="POST" action="<%= paths.self_path %> ">
          <%- include("../partial/alert.flash.ejs") %> 
          <h3 class="text-center my-4 fw-bold">Sign up</h3>
          <div class="form-floating mb-3">
            <input name="fullname" type="text" class="form-control fw-bold text-primary register-fullname" id="fullname"
              placeholder="Full Name">
            <label class="fw-bold text-black-50" for="fullname"><span><i class="bi bi-person"></i></span>Full Name</label>
          </div>
          <div class="form-floating mb-3">
            <input name="email" type="email" class="form-control fw-bold text-primary register-email" id="email"
              placeholder="youremail@gmail.com">
            <label class="fw-bold text-black-50" for="email"><span><i class="bi bi-at"></i></span>Email Address</label>
          </div>
          <div class="form-floating mb-3">
            <input name="password" type="password" class="form-control fw-bold text-primary register-password"
              id="password" placeholder="password">
            <label class="fw-bold text-black-50" for="password"><span><i class="bi bi-shield-lock"></i></span>
              Password</label>
          </div>
          <div class="form-floating mb-3">
            <input name="confirm_password" type="password" class="form-control fw-bold text-primary register-confirm-password"
              id="password" placeholder="password">
            <label class="fw-bold text-black-50" for="password"><span><i class="bi bi-shield-lock"></i></span>
              Confirm Password</label>
          </div>
          <div class="d-flex align-items-center justify-content-end">
            <button class="btn btn-primary btn-md fw-bold is-hover register-btn" type="submit">Sign up <span><i
                  class="bi bi-arrow-right-circle"></i>
                <%- include("../partial/spinner.load.ejs", { size: "spinner-grow-sm" , className: "spinner-register-btn" })
                  %>
              </span>
            </button>
          </div>
          <div class="d-flex align-items-center justify-content-center my-3">
            <span>Already have an account? <span class="fw-bold"><a href="<%= paths.login_path %> ">Sign in instead.</a></span></span>
          </div>
        </form>
      </div>
    </div>
    <%- include("../partial/script") %>
  </body>

</html>